body {
    background: #8b7c65;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
}

#canvas {
    display: flex;
    gap: 0px;
    width: 90%;
    height: 90%;
}

.col {
    display: flex;
    flex-direction: column;
    width: 2%;
    height: 100%;
    flex: 1;
}

.pixel {
    background: #fff;
    color: #fff;
    flex: auto;
    width: 100%;
    height: 2%;
    padding-bottom: 100%;
}