@font-face {
    font-family: RetroGaming;
    src: url('./Retro\ Gaming.ttf') format('truetype');
}

body {
    background: #8b7c65;
    font-family: RetroGaming;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    padding-left: 15%;
    padding-right: 15%;
}

.ui {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

#canvas {
    display: flex;
    gap: 0px;
    width: 50%;
    height: 50%;
}

.col {
    display: flex;
    flex-direction: column;
    width: 2%;
    height: 100%;
    flex: 1;
}

.pixel {
    background: #fff;
    color: #fff;
    flex: auto;
    width: 100%;
    height: 2%;
    padding-bottom: 100%;
}